<ion-view view-title="Externo" ng-controller="LoginCtrl" class="fondo">
   <ion-content class="padding text-center">
   <img class='header-image' src='img/youlogo1.png' />
    <div class="list login">
  <label class="item item-input">
   <img  src="{{item.imageSmall}}">
   Para mejorar su experiencia de usuario este canal se reproducira en un reproductor externo
  </label>
  </div>
  <button class="button button-positive block" ng-click="hacerlogin()">
      Play
  </button>
  </ion-content>
</ion-view>
